.transformer-worden{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: auto;
    margin: 50px auto;
    padding: 30px;
    background: linear-gradient(to right,#0e52d1, #03188d, #0e52d1);
    color: rgb(255, 255, 255);
    border: solid 3px #0e79d1;
    border-radius: 10px;
}


.accordion-btn{
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background: linear-gradient(to right,#0e52d1, #03188d, #0e52d1);
    color: #ffffff;
    text-align: left;
    transition: background 0.2s;
}

.accordion-btn::after{
    content: '\25be';
    float: right;
    transform: scale(1.5);
}

.accordion-btn--active { background: linear-gradient(to right,#0e52d1, #03188d, #0e52d1);}
.accordion-btn--active::after { content: '\25b4'}

.accordion-content{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;

    padding: 0 15px;
    font-family: 'Noto Sans Display', sans-serif;

}