.transformer-worden{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: auto;
    margin: 50px auto;
    padding: 30px;
    background: linear-gradient(to right,#0e52d1, #03188d, #0e52d1);
    color: rgb(255, 255, 255);
    border: solid 3px #0e79d1;
    border-radius: 10px;
}

.vrijwilligers-list{
    padding: 0; 
    margin: 10px;
}

.vrijwilligers-list > li {
    padding: 0;
    border: solid 3px white ;
    margin: 5px;
    padding: 10px 100px;
    text-decoration: none;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#test{
    display: none;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */
}

#hoverover{
    padding: 10px 40px;
}

#hoverover:hover{
    padding-bottom: auto;
    display: block;
}

#hoverover:hover > #test{
    display: block; 
}