@font-face {
    font-family: "DNpro";
    src: url(../font/DN\ PRO\ DN\ PRO\ MEDIUM.OTF);
}



/* header met login buttons en logo */

body{
    font-family: 'Noto Sans Display', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: auto;
     background-color: #FE9060; 
}

.header{
    background-color: #ffffff;
    color: #ffffff;
    box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.52);
    position: relative;
    width: 100%;
    z-index: 3;
}

.header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #ffffff;
}

.header ul a{
    display: block;
    padding: 10px;
    border-left: 1px solid #aaa;
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
}

.header ul a:hover{
    background-color: #696969;
}

.header ul a:active{
    background-color: #696969;
}

.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(blue, rgb(76, 6, 156));
}

body > div > button{
    font-family: DNpro;
    margin: 15px;
    padding: 12px 50px;
    background: #0089FA;
    color: white;
    border-left:  solid #055ba1 ;
    border-top:  solid #0e79d1 ;
    border-right:  solid #0536a1 ;
    border-bottom:  solid #03188d ;
    border-radius: 10px;  
    letter-spacing: 1px;
    text-transform: uppercase;  
}


.logo{
    width: 200px;
    height: auto;
}

button:hover {
    background: rgb(12, 87, 185);
    border-left:  solid #045292 ;
    border-top:  solid #0d6dbb ;
    border-right:  solid #053292 ;
    border-bottom:  solid #04167a ;
    
}



/* hier is de slide show met de menu */

.section1{
    /* background: #FE9060; */
    background: linear-gradient(to left,#D94708, #FE9060, #D94708);
    height: 100vh;
    display: grid;
    grid-template-columns: 37% 38% 25% ;
    grid-template-areas: "slogun foto";
}

.slogun{
    
    grid-area: slogun;
    height: 40vh;
    margin: 30px;
    color: white;
    text-align: center;
    
}

#trans {
    display: inline-block;
    position: relative;
    color: white;
  }
  
  #trans:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 10px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  #trans:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.slogun > h1{
    font-size: 70px;
}

.slogun > h4{
    font-size: 26px;
}

.fotoslider{
    background: gray;
    grid-area: foto;
    height: 40vh;
    margin: 30px;
}


.section2{
    background-color: black;
}


/* Menu voor mobiel*/
.menu{
    font-family: DNpro;
}

.header .menu{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon{
    background: #333;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition:background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
    background:#333;
    content:"";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.header .menu-icon .nav-icon:after{
    background:#333;
    content:"";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.header .menu-btn{
    display: none;
}

.header .menu-btn:checked ~ .menu{
    max-height: 600px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
    color: white;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before{ 
    transform: rotate(-45deg);
    top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top:0;
}

.header ul a {
    border-left: 0px solid;
}

i{
    width: 100px;
    height: 100px;
}


/* Menu voor desktop */

@media (min-width:1000px){
    .logo{
        width: 400px;
        height: auto;
    }

    .header li{
        float:left;
    }
    .header li a{
        padding: 10px 10px;
    }
    .header .menu{
        clear: none;
        float:right;
        max-height: none;
    }
    .header .menu-icon{
        display: none;
    }
    
}

@media (max-width:1000px ){
    .section1{
        display: flex;
        flex-direction:column ;
    }
}