
@font-face {
    font-family: "DNpro";
    src: url(../font/DN\ PRO\ DN\ PRO\ MEDIUM.OTF);
}



/* header met login buttons en logo */

body{
    font-family: 'Noto Sans Display', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: auto;
    background-color: #FE9060;
}

header {
    
    width: 100%;
    background-color: white;    
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
body > header > div > button{
    font-family: DNpro;
    margin: 15px;
    padding: 12px 50px;
    background: #0089FA;
    color: white;
    border:  solid #0067BB;
    border-radius: 8px ;    
}


.logo{
    width: 300px;
    height: auto;
}

button:hover {
    background: #4F32F6;
    
}



/* hier is de slide show met de menu */

.section1{
    /* background: #FE9060; */
    background: linear-gradient(to left, #FE9060 10%, #D94708 90%);
    height: 100vh;
    display: grid;
    grid-template-columns: 37% 38% 25% ;
    grid-template-areas: "slogun foto menu";
}

.slogun{
    
    grid-area: slogun;
    height: 40vh;
    margin: 30px;
    color: white;
    text-align: center;
    
    
}

.slogun > h1 {
    margin: 0;
}

#trans{
    width: 100%;
    
    text-decoration: underline red;
}

@keyframes example {

    from {background-color: red;}
  ppto {background-color: blue;}
  }


.slogun > h1{
    font-size: 70px;
}

.slogun > h4{
    font-size: 26px;
}

.fotoslider{
    background: gray;
    grid-area: foto;
    height: 40vh;
    margin: 30px;
}

.menu{
    background: #4F32F6;
    grid-area: menu;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    margin: 30px;
}
.menu > button{
    background: none;
    border: none;
    
}

.menu > button > a > h2{
    text-decoration: none;
    color: white;
    text-decoration: underline;
    margin: 30px; 
}

.menu > button > a > h2:hover{
    color: gray;
}

.section2{
    background-color: black;
}